<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tool.otsutil.mapper.TopoDeviceMapper">
    <select id="selectDeviceInfoByIds" parameterType="java.util.List" resultType="com.tool.otsutil.model.dto.TopoDeviceRecord">
        SELECT
            ids.id,
            t.name AS deviceName,
            f.name AS feederName
        FROM (
            <foreach collection="ids" item="id" separator="UNION ALL">
                SELECT #{id} AS id
            </foreach>
        ) ids
        LEFT JOIN (
            SELECT id, name, feeder_id FROM ies_ms.aclinesegment_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.breaker_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.fuse_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.dmstransformer_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.disconnector_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.Pole_B WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.FaultIndicator_B WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.Junction_B WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            UNION ALL
            SELECT id, name, feeder_id FROM ies_ms.compositeswitch_b WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        ) t ON ids.id = t.id
        LEFT JOIN ies_ms.feeder_b f ON t.feeder_id = f.id
    </select>

    <select id="selectFeederInfoByIds" parameterType="java.util.List" resultType="com.tool.otsutil.model.dto.TopoFeederRecord">
        SELECT
            f.id,
            f.name
        FROM ies_ms.feeder_b f
        WHERE f.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
